* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ddd;
  text-decoration: none;
}

body {
  font-family: "Source Code Pro", monospace, Arial, Helvetica, sans-serif;
}

.container {
  margin: 100px auto;
  width: 500px;
  height: 700px;
  border-radius: 50px;
  box-shadow: 0 1px 25px 1px black;
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
}

.container .foto {
  width: 200px;
  height: 200px;
  background-image: url(images/foto_saya.png);
  border-radius: 50%;
  box-shadow: 0 1px 50px -10px black;
}

.container .ig,
.twitter,
.tiktok {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 420px;
  height: 80px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 1px 50px -10px black;
  cursor: pointer;
}

i,
p {
  background-color: transparent;
  color: black;
}

i {
  font-size: 40px;
  margin-left: 120px;
  margin-right: 30px;
}

p {
  font-size: 1.5rem;
  font-style: italic;
}
